# Auto detect text files and perform LF normalization
* text=auto
*.mbtiles filter=lfs diff=lfs merge=lfs -text
*.tif filter=lfs diff=lfs merge=lfs -text
*.osm.pbf filter=lfs diff=lfs merge=lfs -text
*.geojson filter=lfs diff=lfs merge=lfs -text
sumo_inputs/osm_visual.osm.xml filter=lfs diff=lfs merge=lfs -text
